/*Css*/
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
/* Pirmo konteinerio fono spalva*/
.bg{
    background-color: #0f6674;
}
/*Antro konteinerio fono spalva*/
.bg2 {
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
/*Search pozicija*/
.searchas{
    position: relative;
    top: 20px;
}
/*Miesto pavadinimo stilius*/
.city{
    font-size: 24px;
    color: #f3f3f3;
    margin-top: 10px;
}
/*Siandienos oras*/
.todayWeather{
    width: 460px;
    border-top: 5px solid #b21f2d;
    background-color: #f9f9f9;
}
/*Savaites diena*/
.weekDay{
    width: 150px;
    border-bottom: 5px solid #b21f2d;
    background-color: #f9f9f9;
    border-left: 1px solid #909090;
    float: left;
}
/*Valandinio konteineris*/
.hourContainer > .col-sm-12{
    overflow-x: auto;
    overflow-y: hidden ;
    white-space: nowrap;
}
.hourContainer > .col-sm-12 > .hourWeather{
    display: inline-block;
    float: none;
}
/*Valandinis oras*/
.hourWeather{
    width: 80px;
    height: 400px;
    padding: 5px;
    display: inline-block;
    border-bottom: 1px solid #909090;
    border-top: 5px solid #b21f2d;
    background-color: #f9f9f9;
    border-left: 1px solid #909090;
    text-align: center;
}
/*Oru ikonos*/
.fa-sun, .fa-tint, .fa-wind, .fa-cloud,
.fa-smog, .fa-cloud-sun-rain, .fa-cloud-sun,
.fa-cloud-showers-heavy, .fa-cloud-rain, .fa-cloud-moon-rain,
.fa-snowflake, .fa-moon, .fa-bolt{
    font-size: 20px;
}
.fa-tint{
    padding-top: 160px;
}
/*Scrollbar style*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b21f2d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9e1422;
  }